{* Latte template *}

{block content}
div 
    <div id="wrapper">
	h1 Main title
	div .panel
	    ul
		<li class="first"></li>
		li .second
		<li id="last">
		    ul
			li
			    ul
				li
				    <ul>
					<li>
					    ul
						<li>Last item</li>
					</li>
				    </ul>
		</li>
	div .panel
	    <div id="inner">
	    </div>
    </div>
table
    caption Table title
    <tbody>
	td  
	<td></td>
	td
	    <b>
		i Bold and italic text
	    </b>
	td
    </tbody>