{* Latte template *}

{block content}
        h1 #title .titles .main-title Hello world
        nav
            @ a $http://www.[@].com $blank Link on -
            [google] Google
            [yahoo] Yahoo
            [github] Github
        {block scripts}
        js-async http://www.nette.github.io/resources/js/netteForms.min.js
        {/block}