{* Latte template *}

{block content}
{var $a = "go"}
div id="id" class="class" data-label=label
div data-mix=;+=´´)ú¨§ů-.,-*/+_:\\()[]@&|\# id=mix class="class"
div data-say="{if $a !== NULL}Here we {$a}!{/if}"