{* Latte template *}

{block content}
{var $ida = "ida"}
{var $idb = "idb"}
div #id
div #i_d
div #;+=´´)ú¨§ů-.,-*/+_:\\()\[]@&|\#
div ##id 
div #primary1 #unused2
div #primary2 id="secondary"
div id="secondary2" #primary3
div #{$ida}
div id="{if $idb !== NULL}{$idb}{/if}"