{* Latte template *}

{block content}
div #wrapper
    div #leftPanel
        h1 Title of the left panel
        div .panelContent
            div .section
            div .section
            div .section
    div #rightPanel
        h1 Title of the right panel
        div .panelContent
            div .shortMessage
                h1 Short title
                p
                    Something about
                ul
                    li
                    li
                    li