{* Latte template *}
{block doctype}
!5
{/block}

{block head}
// Short inline html comment
/
This comment
is little bit
longer
\
title Macros test
utf-8
css {$basePath}/path/to/some/style.css
favicon favicon.ico
viewport width=device-width, initial-scale=1.0
keywords One, Two, Three
description Just a description
author Vladimír Macháček
tw- card summary
fb- title Just a title
{/block}

{block content}
js {$basePath}/path/to/some/js.js
js-async {$basePath}/path/to/asyncloaded/js.js
{/block}
