{* Latte template *}

{block content}
<?php
    // Text
    // Text
    /** Text
    *
    * 
    * Text
    */
    
    /*
    *
    * Text
    *
    */
    
    /** Text */
    /* Text */
    $b = TRUE;
    $a = ['one', 'two', 'three'];
    if($b === TRUE)
    {
	foreach($a as $value)
	{
	    echo $value."<br>";
	}
    }

    if($b === TRUE) echo "Var b is TRUE";

    echo "<br>".($b === TRUE ? "Happy" : "Bad")." ending";
?>
<?php 
    $class = "myClass";
    $id = "myId2";
    $text = "Text text text";
?>
div id="<?php echo 'myId'; ?>" .{$class}
div #{$id} class={$class}
div class="{$class}"
div {$text}
<?php

    // Text 2
    echo "Text 2";

?>
