{* Latte template *}

{block content}
form $post
    input $text $Value inside;
    input $text $+=´´)ú¨§ů-.,-*/+_:\\()[]@&|\#
    input $text $+=´´)ú¨§ů-.,-*/+_:\\()[]@&|\# +=´´)ú¨§ů-.,-*/+_:\\()[]@&|\# +=´´)ú¨§ů-.,-*/+_:\\()[]@&|\#;
    input disabled 2$Disabled button; 1$submit
br
a $http://www.google.com $blank Link somewhere
br
a 3$button Just a button
