{* Latte template *}

{block content}
@ a $http://www.[@].com title="Link on [@]" 1$blank style="background-color:[@]; color:[@]" 
[google] [Google] [#06f] [White] Google link
br
[github] [Github] [green] [Black] Github link
@H h1 .mainTitle .greenTitle style="color:green" data-title-id=[@]
H [1] #firstTitle First title
H [2] #secondTitle Second title
ul
    @ li .replicatedLi What to bought -
    Beer
    Ham
    Meat
    Beer
    Another beer