{* Latte template *}

{block content}
@ a $http://www.[@].com title="Link on [@]" 2$blank style="background-color:[@]; color:[@]" .[@]
[google] [google] [#06f] [White] [google] Google link
br
[github] [Github] [green] [Black] [github] Github link
@H h1 .mainTitle .greenTitle style="color:green" data-title-id=[@]
H [1] #firstTitle First title
H [2] #secondTitle Second title
ul
    @ li .replicatedLi Number -
    one
    two
    three

<?php

    $id = "myId";
    $class = "myClass";
    $classArr = ['first', 'second'];
    $text = "Text text text.";
?>

@ div #[@] class="[@]"
[{$id}][{$class}] {$text}
[null] [{foreach $classArr as $cls}{/foreach}] {$text}

@ div <?php echo "Replicated line - "; ?>
one
two
three