{* Latte template *}

{block content}
div Short text
    conected with
    another long text
    closed by a DOT.

div just-
    short
    -text
    
div just/
    short
    /text

div just-
    short
    text
    
div just-
    b bold 
    text
    
div just/
    short
    /text
    
div Long text with a
    a $http://www.google.com $blank
	b
	    i Bold
		-link 
	on Google
    .