{* Latte template *}
{block doctype}
!5
{/block}
{block head}
utf-8
meta http-equiv="X-UA-Compatible" 2$IE=edge
viewport width=device-width, initial-scale=1
description Description of the template
author Some author here

title Creative - Start Bootstrap Theme

<!-- Custom Fonts -->
css http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
css http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
css {$basePath}/font-awesome/css/font-awesome.min.css

@ css {$basePath}/css/[@].css
<!-- Bootstrap Core CSS -->
[bootstrap.min]

<!-- Plugin CSS -->
[animate.min]

<!-- Custom CSS -->
[creative]
/@
{/block}
{block content}
nav #mainNav .navbar .navbar-default .navbar-fixed-top
    div .container-fluid

	<!-- Brand and toggle get grouped for better mobile display -->
	div .navbar-header
	    button $button .navbar-toggle .collapsed data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
		span .sr-only Toggle navigation
		span .icon-bar
		span .icon-bar
		span .icon-bar
	    a .navbar-brand .page-scroll $#page-top Start Bootstrap

	<!-- Collect the nav links, forms, and other content for toggling -->
	div .collapse .navbar-collapse #bs-example-navbar-collapse-1
	    ul .nav .navbar-nav .navbar-right
		    @ a .page-scroll $#[@]
		li
		    [about] About
		li
		    [services] Services
		li
		    [portfolio] Portfolio
		li
		    [contact] Contact
header
    div .header-content
	div .header-content-inner
	    h1 Your Favorite Source of Free Bootstrap Themes
	    hr
	    p Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
	    a $#about .btn .btn-primary .btn-xl .page-scroll Find Out More!

section .bg-primary #about
    div #container
	div .row
	    div .col-lg-8 .col-lg-offset-2 .text-center
		h2 .section-heading We've got what you need!
		hr .light
		p .text-faded Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
		a $# .btn btn-default .btn-xl Get Started!

section #services
    div .container
	div .row
	    div .col-lg-12 .text-center
		h2 .section-heading At Your Service
		hr .primary
    div .container
	div .row
	    @c div .col-lg-3 .col-md-6 .text-center
		@sb div .service-box
		    @it i .fa .fa-4x .fa-diamond .wow .bounceIn .text-primary data-wow-delay="[@]"
		    @h h3
		    @ p .text-muted
	    c
		sb
		    it
		    h Sturdy Templates
		    Our templates are updated regularly so they don't break
	    c
		sb
		    it [.1s]
		    h Ready to Ship
		    You can use this theme as is, or you can make changes!
	    c
		sb
		    it [.2s]
		    h Up to Date
		    We update dependencies to keep things fresh.
	    c
		sb
		    it [.3s]
		    h Made with Love
		    You have to make your websites with love these days!
section .no-padding #portfolio
    div .container-fluid
	div .row .no-gutter
	    @block div .col-lg-4 .col-sm-6
		@bLink a $# .portfolio-box
		    @ img ${$basePath}/img/portfolio/[@].jpg .img-responsive alt=""
		    @bPortf div .portfolio-box-caption
			@bPortfC div .portfolio-box-caption-content
			    @bPortCat div .project-category .text-faded
			    @bPortName div .project-name
	    block
		bLink
		    [1]
		    bPortf
			bPortfC
			    bPortCat
				Category
			    bPortName
				Project Name
	    block
		bLink
		    [2]
		    bPortf
			bPortfC
			    bPortCat
				Category
			    bPortName
				Project Name
	    block
		bLink
		    [3]
		    bPortf
			bPortfC
			    bPortCat
				Category
			    bPortName
				Project Name
	    block
		bLink
		    [4]
		    bPortf
			bPortfC
			    bPortCat
				Category
			    bPortName
				Project Name
	    block
		bLink
		    [5]
		    bPortf
			bPortfC
			    bPortCat
				Category
			    bPortName
				Project Name
	    block
		bLink
		    [6]
		    bPortf
			bPortfC
			    bPortCat
				Category
			    bPortName
				Project Name
aside .bg-dark
    div .container .text-center
	div .call-to-action
	    h2 Free Download at Start Bootstrap!
	    a $# .btn .btn-default .btn-xl .wow .tada Download Now

section #contact
    div .container
	div .row
	    @ div .col-lg-offset-2 .text-center
	    .col-lg-8
		h2 .section-heading Let's Get In Touch!
		hr .primary
		p Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
	    .col-lg-4
		i .fa .fa-phone .fa-3x .wow .bounceIn
		p 123-456-6789
	    .col-lg-4
		i .fa .fa-envelope-o .fa-3x .wow .bounceIn data-wow-delay=".1s"
		p
		    a $mailto:your-email@your-domain.com feedback@startbootstrap.com
<!-- jQuery -->
@ js {$basePath}/js/[@].js
[jquery]

<!-- Bootstrap Core JavaScript -->
[bootstrap.min]

<!-- Plugin JavaScript -->
[jquery.easing.min]
[jquery.fittext]
[wow.min]


<!-- Custom Theme JavaScript -->
[creative]
