{block content}
div #wrapper 
    <div id="leftPanel">
	Just a text in leftPanel
	article
	    h2 First article
		<span> about nothing</span>  
	    p Description of this article
	    <ul>
		<li>
		    a 3$button Link
		</li>
	    </ul>
    </div>
    <div id="rightPanel"></div>   